<mat-card>
    <mat-toolbar>
        <span>{{ data?"Edit":"Registration"}}</span>
        <span class="spacer"></span>
        <button class="btn-dialog-close" mat-stroked-button (click)="onClose()"><mat-icon>clear</mat-icon></button>
    </mat-toolbar>
    <mat-spinner *ngIf="isLoading" style="margin-top: 10px;"></mat-spinner>
    <form [formGroup]="form" (submit)="onSignUp()" *ngIf="!isLoading">
        <mat-grid-list cols="2" rowHeight="425px">
            <mat-grid-tile>
                <div>
                    <mat-form-field>
                        <input matInput type="text" formControlName="firstName" placeholder="First Name">
                        <mat-error *ngIf="form.get('firstName').invalid">*Required field</mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput type="text" formControlName="lastName" placeholder="Last Name">
                        <mat-error *ngIf="form.get('lastName').invalid">*Required field</mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput type="email" formControlName="email" placeholder="Email">
                        <mat-error *ngIf="form.get('email').invalid">*Required field. Please input a valid email</mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput type="password" formControlName="password" placeholder="Password">
                        <mat-error *ngIf="form.get('password').invalid">*Required field. 1 Uppercase, 1 Lowercase, 1 Number and 1 Special Chacters with 8 minimum character.</mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput type="date" formControlName="dateOfBirth" placeholder="Date of Birth">
                        <mat-error *ngIf="form.get('dateOfBirth').invalid">*Required field</mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <input 
                            phoneHyphen
                            matInput 
                            type="text"  
                            formControlName="phoneNumber" 
                            placeholder="Phone Number: 123-456-7890"
                            pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}">
                        <mat-error *ngIf="form.get('phoneNumber').invalid">*Required field</mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-select formControlName="gender" placeholder="Gender">
                          <mat-option value="1">Male</mat-option>
                          <mat-option value="2">Female</mat-option>
                          <mat-option value="3">Other</mat-option>
                        </mat-select>
                      </mat-form-field>
                </div>
            </mat-grid-tile>
            <mat-grid-tile>
                <div>
                    <mat-form-field>
                        <input matInput type="text" formControlName="address" placeholder="Address">
                        <mat-error *ngIf="form.get('address').invalid">*Required field</mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput type="text" formControlName="city" placeholder="City">
                        <mat-error *ngIf="form.get('city').invalid">*Required field</mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput type="text" formControlName="state" placeholder="State">
                        <mat-error *ngIf="form.get('state').invalid">*Required field</mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput type="number" formControlName="zipCode" placeholder="Zipcode">
                        <mat-error *ngIf="form.get('zipCode').invalid">*Required field</mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput type="text" formControlName="registerCode" placeholder="Registration Code">
                        <mat-error *ngIf="form.get('registerCode').invalid">*Required field</mat-error>
                    </mat-form-field>
                    <div class="button-row" style="margin-top: 20px;">
                        <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">Submit</button>
                        <button mat-raised-button class="variable-space" type="reset" color="warn">Clear</button>
                    </div>
                </div>
            </mat-grid-tile>
        </mat-grid-list>
    </form>
</mat-card>

