<div class="row">
    <div class="col-md-5">
        <app-wound-list
            (woundWasSelected)="selectedWound = $event"></app-wound-list>
    </div>
    <div class="col-md-7">
        <app-wound-detail
            *ngIf="selectedWound; else infoText"
            [wound]="selectedWound"></app-wound-detail>
            <ng-template #infoText>
                <p>Please select a wound</p>
                <img src="../../../backend/images/cut1-1575169306435.jpg" alt="">
            </ng-template>
    </div>
</div>