<mat-card>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
        <form [formGroup]="form" *ngIf="!isLoading">
            <mat-form-field>
                <input matInput formControlName="email" type="email" placeholder="E-Mail">
                <mat-error *ngIf="form.get('email').invalid">Please enter a valid email</mat-error>            
            </mat-form-field>
            <mat-form-field>
                <input matInput formControlName="password" type="password" placeholder="Password">
                <mat-error *ngIf="form.get('password').invalid">Please enter a valid password</mat-error>            
            </mat-form-field>
            <button mat-raised-button color="accent" (click)="onLogin()">Login</button>
            <button mat-raised-button class="button-space" color="accent" *ngIf="!isLoading" (click)="onSignUp()">Sign Up</button>
        </form>
</mat-card>